---
import Layout from "../layouts/Layout.astro";
---

<Layout>
    <h1>About</h1>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quibusdam voluptatem qui cupiditate quas ad repudiandae sapiente. Molestias ullam iste dicta? Quaerat ratione minima pariatur sint cumque praesentium, doloremque libero quod!</p>
</Layout>