---
import Layout from "../layouts/Layout.astro";
---

<Layout>
  <h1>Contacto</h1>
  <p>
    Lorem, ipsum dolor sit amet consectetur adipisicing elit. Repudiandae sed,
    natus reprehenderit minus, ullam saepe error corporis, aperiam veritatis eum
    dicta dolorum molestias officiis quasi animi aliquam modi similique eius.
  </p>

  <input type="text" name="nombre" id="nombre" placeholder="Nombre" required />
</Layout>
