<hr>
<h2>Esto es el pie de pagina</h2>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Optio minima facere repellendus illum natus neque suscipit quo! Eum, veritatis nostrum beatae corrupti autem necessitatibus dicta consequatur explicabo incidunt cum enim?</p>